/* HEADER */

header {
  margin-left: 25%;
  margin-right: 25%;
}
.logo {
  float: left;
}
header h1 {
  font-family: 'Oleo Script', Helvetica, sans-serif;
  font-size: 30px;
}
header li {
  float: right;
}
